<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Syncurr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Syncurr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Syncurr.Properties.Settings>
            <setting name="refreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="accountUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="proxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyInternalUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyInternalPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyType" serializeAs="String">
                <value />
            </setting>
            <setting name="folders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </Syncurr.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Syncurr.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value>b8c91c5a069583a</value>
            </setting>
            <setting name="clientSecret" serializeAs="String">
                <value>1b6fe1bfa3760e1d197bb5fbca23a95a8a93a1b5</value>
            </setting>
        </Syncurr.Properties.Settings>
    </applicationSettings>
</configuration>
